notes.groovy
estudos.txt
# Created by https://www.toptal.com/developers/gitignore/api/groovy,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=groovy,visualstudiocode

### Groovy ###
# .gitignore created from Groovy contributors in https://github.com/apache/groovy/blob/master/.gitignore

user.gradle
.gradle/
target/
build/
out/

*.DS_Store
*.class
*.swp
*~

.idea
*.iml
*.ipr
*.iws
.shelf

.settings/
.classpath
.project
bin/


### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/groovy,visualstudiocode
